fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
python-multipart

sqlalchemy
alembic
asyncpg

httpx
openai
anthropic
google-genai
huggingface_hub
datasets
cryptography

langgraph

langchain-core

groq

kaggle
